html {
  font-size: 0.625rem;
}

h1 {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

form {
  text-align: center;
}

form input {
  margin-bottom: 2rem;
}

.btn-submit {
  border: none;
  border-radius: 2rem;
  padding: 1.4rem 4rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #447ec0;
  color: #fff;
  cursor: pointer;
  margin-right: 12%;
}

form input[type="file"] {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

label {
  font-size: 2rem;
}

.db-selection {
  margin-bottom: 2rem;
  width: 20rem;
  height: 3rem;
  border: none;
}
.db-selection option {
  padding: 2rem 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
  font-size: 3rem;
  margin-left: 3rem;
}
