{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Import Data</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="header">
      <nav>
        <img src="" alt="" />
        <ul>
          <li class="list-items">
            <a href="{% url 'import_data' %}">Import Data</a>
          </li>
          <li class="list-items">
            <a href="{% url 'export_data' %}">Export Data</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <h1>Export data from Database</h1>
        <form action="" method="post">
          {% csrf_token %} {% for message in messages %} {% if message %}
          <p>{{ message}}</p>
          {% endif %} {% endfor %}

          <label for="">Select Database Table</label>
          <select name="model_name" id="" class="db-selection" required>
            <option value="" disabled selected>Select</option>
            {% for model in models %}
            <option value="{{ model}}">{{model}}</option>
            {% endfor %}
          </select>
          <br />

          <input type="submit" value="Export Data" class="btn-submit" />
        </form>
      </div>
    </main>
  </body>
</html>
