{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Import Data</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Import data from csv</h1>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %} {% for message in messages %} {% if message %}
          <p>{{ message}}</p>
          {% endif %} {% endfor %}
          <label for="">Upload CSV File</label>
          <input type="file" name="file_path" class="btn" required /> <br />

          <label for="">Select Database Table</label>
          <select name="model_name" id="" class="db-selection" required>
            <option value="" disabled selected>Select</option>
            {% for model in models %}
            <option value="{{ model}}">{{model}}</option>
            {% endfor %}
          </select>
          <br />

          <input type="submit" value="Import Data" class="btn-submit" />
        </form>
      </div>
    </main>
  </body>
</html>
