{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automate with django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="header">
      <span><a href="">Automate with Django</a></span>
      <nav>
        <ul>
          <li class="list-items">
            <a href="{% url 'import_data' %}">Login</a>
          </li>
          <li class="list-items">
            <a href="{% url 'export_data' %}">Register</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="main-header">
        <p>Automate boring staff with Django</p>
      </section>
    </main>
  </body>
</html>
